#form-container {
    display: block;
    width: 500px;
    margin: 15px auto;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.row {
    display: inline-block;
    min-height: 40px;
    width: 100%;
}
.label {
    float: left;
    text-align: left;
    font-size: 20px;
    color: black;
    margin-left: 15px;
}
.textbox {
    width: 250px;
    height: 30px;
    float: right;
    margin-right: 15px;
}
.checkbox {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 15px;
}
.radiobutton {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 15px;
}
.button {
    width: 75px;
    height: 30px;
    float: right;
    margin-right: 30px;
}
.column-header {
    display: block;
    float: left;
    text-align: center;
    font-size: 20px;
    color: orange;
    margin: 0px;
    min-height: 1px;
}
.column-value {
    display: block;
    float: left;
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 0px;
    min-height: 1px;
}
.editlink {
    float: right;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: blue;
}
.editlink:hover {
    color: orange;
}